@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap')

body {
    background-color: #f4eee6;
    cursor: default;
}

.main {
    padding-top: 30px;
    width: 600px;
    margin: auto;
}

.main h3 {
    font-family: "IBM Plex Mono", monospace;
}

.main h1 {
    top: 10%;
    font-family: "IBM Plex Mono", monospace;
    font-size: 50px;
}